<% company = position.company %>
<div class="box position_list">
	<div class="row">
		<div class="7u 12u(narrower) p_content">
			<%= render 'list_position', position: position %>
		</div>
		<div class="5u 12u(narrower) p_aside">
			<%= render 'list_company', position: position, company: company %>
		</div>
	</div>
</div>