<% @tab_title = "编辑职位" %>

<section id="main" class="container">
	<header>
		<h2>编辑职位</h2>
	</header>
	
	<div class="box p_detail box_padding">
		<%= form_for(@position) do |f| %>
			<%= render 'field', f: f %>
			
		<% end %>
	</div>
</section>
<%= javascript_include_tag 'positions', 'data-turbolinks-track' => true %>