<% @tab_title = "职位录入" %>

<section id="main" class="container">
	<header>
		<h2>职位录入</h2>
	</header>
	
	<div class="box p_detail box_padding">
		<%= form_for(@position, url: company_positions_path) do |f| %>
			<%= render 'field', f: f %>
			
		<% end %>
	</div>
</section>