<% @tab_title = "搜索结果" %>

<section id="main" class="container">
	<header>
		<h2>搜索结果</h2>
	</header>
	<div>
		<%= will_paginate  previous_label: "上一页",
next_label: "下一页" %>
		<div class="positions">
			<%= render 'positions/search_form' %>
			<% @positions.each do |position| %>
				<%= render 'list', position: position %>
			<% end %>
		</div>
			<%= will_paginate previous_label: "上一页",
	next_label: "下一页" %>
	</div>
</section>



<!-- render @positions -->