<% @tab_title = "处理推荐" %>

<section id="main" class="container">
	<header>
		<h2>处理推荐</h2>
	</header>
	
	<div class="box p_detail box_padding">
		<%= form_for(@recommendation) do |f| %>
			<%= render 'recommendations/edit_form', f: f %>
		<% end %>
	</div>
</section>