<% @tab_title = "注册" %>

<section id="main" class="container">
	<header>
		<h2>注册</h2>
	</header>
	
	<%= form_for(@user) do |f| %> 
	
		<%= render 'users/field', f: f %>
	
		
	<% end %>
	
	
</section>
