<% if object.errors.any? %>
	<div id="error_explanation">
		<!-- <div class="alert alert-danger">
			The form contains <%= pluralize(object.errors.count, "error") %>.
		</div> -->
		<ul class="alert alert-danger">
			<!-- <%= object.errors.messages.delete(:password) %> -->
			<!-- <% object.errors.each do |attr, msg| %>
			<p><%= msg %></p>
			<% end %> -->
			<%= object.errors.first[1] %>
		</ul>
	</div>
<% end %>