<% @tab_title = "公司列表" %>

<section id="main" class="container">
	<header>
		<h2>公司列表</h2>
	</header>
	<section class="box special">
		<%= will_paginate  previous_label: "上一页",
next_label: "下一页" %>
		
		<div class="customers">
			<% @companies.each do |company| %>
				<%= render 'list', company: company %>
			
			<% end %>
		</div>
		<%= will_paginate previous_label: "上一页",
next_label: "下一页" %>
	</section>
</section>