<% @tab_title = "业务流程" %>

<section id="main" class="container">
	<header>
		<h2>业务流程</h2>
	</header>
	<section class="box special">
		<%= image_tag('before_cooperation.jpg', alt: "", class: 'business_image') %>
		<br>
		<%= image_tag('cooperation_process.jpg', alt: "", class: 'business_image') %>
		
	</section>
</section>
