<% @tab_title = "联系方式" %>

<section id="main" class="container">
	<header>
		<h2>联系方式</h2>
	</header>
	<!-- <section class="box box_padding"> -->
		
		<div id="contact_page" class="row">
			<div id="contact_hunting" class="4u 12u(narrower) p_left box box_padding">
				<h4>人才寻访</h4>
				<p>lisa  猎头顾问</p>
				<p>021-60534114 转接</p>
				<p>18117209130</p>
				<p>lisa@leadsto.cn</p>
			</div>
			<div id="contact_recommendation" class="4u 12u(narrower) p_left box box_padding">
				<h4>人才推荐</h4>
				<p>emily  商务经理</p>
				<p>021-60534114 转接</p>
				<p>18058754768</p>
				<p>emily@leadsto.cn</p>
			</div>
			<div id="contact_hotline" class="4u 12u(narrower) p_left box box_padding">
				<h4>客服电话</h4>
				<p>Naomi 客服经理</p>
				<p>021-60534114</p>
				<p>13296254114</p>
				<p>service@leadsto.cn</p>
			</div>
			
			<div>
				<br>
				<p>工作时间：周一至周五 9:30-18:30</p>
				<p>客服邮箱会在2个工作日内回复</p>
				<br>
			</div>
			
		</div>
		
		

		
	<!-- </section> -->
</section>
