<% @tab_title = "联系方式" %>

<section id="main" class="container">
	<header>
		<h2>洽谈合作</h2>
	</header>
	<section class="box special">

		<h4>人才寻访</h4>
		<p>lisa  猎头顾问</p>
		<p>021-60534114转接</p>
		<p>18117209130</p>
		<p>lisa@leadsto.cn</p>
		<br>


		<h4>人才推荐、开源项目</h4>
		<p>emily  商务经理</p>
		<p>021-60534114转接</p>
		<p>18058754768</p>
		<p>emily@leadsto.cn</p>
		<br>

		<h4>客服电话</h4>
		<p>Naomi 客服经理</p>
		<p>021-60534114</p>
		<p>13296254114</p>
		<p>service@leadsto.cn</p>
	</section>
</section>
