<% @tab_title = "LEADS简介" %>

<section id="main" class="container">
	<header>
		<h2>LEADS 简介</h2>
	</header>

</section>
<section>
	<!-- <div id="intro_content" class="p_left box box_padding"> -->
	<div class="intro_content box_padding">
		<h4>主营业务</h4>
		<br>
		<p>
			Leads 是以 PS 模式为主导的猎头企业，旗下猎头团队均有专注的方向，专注于互联网及互联网+行业。
		</p>
		<p>目前擅长的职位是:</p>
		<ul>
			<li>技术总监/CTO、架构师/技术经理；</li>
			<li>移动开发工程师，如 java，php，ruby，前端工程师；</li>
			<li>销售管理岗位如销售总监、城市负责人等；</li>
		</ul>	
		<p>Leads 的另一部门则是互联网+，让猎头有更好的渠道可以获得优质候选人的线索，协助顾问将 Mapping 做到极致。
		</p>
		<br>
		<h4>公司简介</h4>
		<br>
 		<p>这是一个小而美的团队，360° 顾问及助理猎头顾问组成的猎头团队，专注在自己的领域内，发挥所长；互联网项目的产品、设计、技术团队则各司其职，挖掘人均单产更高的路径，致力于让猎头顾问的业绩上升上升升。
		</p>
		<p>
			我们崇尚快乐工作，简单生活的工作理念，弹性工作制，按照自己的节奏工作，快乐的完成工作任务；团队氛围轻松活泼，关注个人发展和成长，在 Leads 烧烤、运动、读书会也是工作的一部分。
		</p>
		<p>
			公司在上海核心商区的花园洋房内办公，是城市中央花园式的存在，安静且没有办公室的压迫感，百平方的后花园，让你体验在花园上班的美腻感。
		</p>
	</div>
	<div class="intro_image">
		<%= image_tag("company_intro.jpg") %>
	</div>
	
</section>

