<% @tab_title = "加入我们" %>

<section id="main" class="container">
	<header>
		<h2>加入我们</h2>
	</header>

<div class="box box_padding">
	<div class="intro_content">
		<h4>资深猎头顾问</h4>
		<br>
		<p>上班地址：上海长宁区愚园路727号</p>    
		<p>所属部门：业务部</p>
		<p>下属人数：2-3人</p>
		<p>招聘人数：2人</p>
		<p>薪资：10K-15K </p>  
 
		<p><br>
		<strong>在这个岗位，你需要做的事：</strong><br><br>
		1、充分理解客户需求，完成客户岗位职责的分析；<br>
		2、制定完善的人才寻访方案；通过电话、网络或电子邮件等渠道来搜寻候选人;<br>
		3、负责甄选、评估候选人，向客户提供专业化、标准化以及系统的人才推荐报告；<br>
		4、协调和推动客户进一步安排候选人的面试并及时反馈面试结果；<br>
		5、协助双方进行薪资谈判及后续跟踪服务；<br>
		6、协调客户和被录用者之间良好的关系，关注被录用者的职业发展；<br><br>
		</p>

		<p>
		<strong>希望你符合以下条件：</strong><br><br>
		1、大专学历及以上，<br>
		2、个性成熟、有亲和力，性格开朗、乐观积极；<br>
		3、良好的团队协作能力，富有高度的责任心与职业操守，优秀的协调能力和出色的沟通、说服、引导能力；<br>
		4、较强的学习能力、优秀的执行力；优先的自控能力及目标驱动的做事风格；<br>
		5、能够承受工作压力，具备独立的发现、分析及解决问题的能力；<br>
		6、有猎头顾问经验、人事招聘工作经验、电话销售经验者优先考虑。<br>
		</p>
		<br>
		--------------------------------
		<p><strong>联系方式：</strong></p>
		<p>lisa </p>
		<p>021-60534114 转接</p>
		<p>lisa@leadsto.cn</p>
	</div>
</div>

</section>