//@import "bootstrap-sprockets";
//@import "bootstrap";

$red-color: #e89980;
$green-color:#7fcdb8;
$blue-color: #90b0ba;
$yellow-color: #e5cb95;
$white-color: #ffffff;
$gray-font-color: rgb(100,100,100);
$button-background: rgba(199,199,199,0.3);
$p-background: rgba(245, 245, 245, 1);
//$green-font: #2E8B57;
//$green-font: #8e3e1f;
//$green-font: #596032;
$green-font: #74905d;
//@mixin background-opacity($color, $opacity: .3) {
//	background-color: $color;
//	background-color: rgba($color, $opacity);
//}

#banner span {
	font-size: 0.8em !important;
}

h2 {
	font-size: 1.75em;
}

header h2+p {
	font-size: 1em;
}

header h1 img {
	padding-top: 0.5em;
	width: 2.3em;
	height: 2.8em;
}

.features p, .p_left p {
	text-align: left;
}

#cta form {	
	width: 40em;
}

#cta input {
	text-align: center;
	border: 1px solid rgba(255,255,255,0.8) !important;
}

#cta h2 {
	padding-bottom: 1em;
}

.special_button {
	background-color: $button-background !important;
}

.referrer_button {
	height: 2.5em;
	line-height: 2.5em;
	float: right;
	margin-top: -0.4em;
	background-color: rgba(34,139,34,0.3) !important;
}

.position_list {
	padding: 1.5em 3em;
}

.position_list table {
	margin-bottom: 1em;
}

.position_list table tr td{
	padding: 0.5em;
}

.position_part>table tr {
	border: none !important;
}

.position_part>table td {
/*	background-color: rgba(34,139,34,0.1);*/
	background-color: $p-background;
}
.keyword_part>table tr {
	border: none !important;
}

.keyword_part>table td {
	background-color: $p-background;
}
.company_part>table tr {
	border: none !important;
}

.company_part>table td {
	background-color: $p-background;
}

.position_list>.fa-square {
	float: right;
	color: rgba(34,139,34,0.3);
	margin-left: 2px;
}

.position_list span.fa-tags {
	color: rgba(119,119,119,0.4);
}

.position_list>.row {
	padding-top: 1em;
}

a:hover {
	border-bottom: dotted 1px;
}

.date {
	color: rgba(119,119,119,0.6);
}


/* maptool */
#maptool {
	width: 100%;
	height: 300px;
	border-radius: 6px;
	margin-bottom: 1em;
/*	box-shadow: 3px rgb(229, 229, 229);*/
}

#start_point {
	border-color: rgba(119, 119, 119, 0.5);
	margin-bottom: 1em;
}

#transit_result, #driving_result {
	width: 49%;
	color: rgba(119, 119, 119, 1);
	background-color: rgba(119, 119, 119, 0.3);
}

#driving_result {
	float: right;
}

.tranroute-plan-list {
	border-width: 2px 0;
	border-color: $button-background;
}

/* position_detail */
#status td {
	padding: 1px;
	text-align: center;
}

#basic_info {
	font-size: 1.1em;
	color: $green-font;
	padding-left: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: $button-background;
}

#basic_info p {
	margin-bottom: 5px;
}

#basic_info span.icon {
//	color: rgba(119, 119, 119, 1)
	color: rgba($green-font, 0.6);
}

.p_icon {
	padding: 0 18px 0 4px;
}

.p_icon_spec {
	padding: 0 13px 0 2px;
}

.p_icon_spec1 {
	padding: 0 10px 0 0;
}

.p_icon_spec2 {
	padding: 0 15px 0 3px;
}

.p_content>.box_padding {
	margin-top: 1em;
	background-color: $p-background;
	padding: 1.5em 1em;
}

.p_aside>.box_padding {
	margin-bottom: 2em;
/*	background-color: rgba(245, 245, 245, 1);*/
	padding: 0 1em;
	border-style: solid;
	border-width: 0 0 0 2px;
	border-color: $button-background;
}


// keyword
.keyword_area {
	padding-left: 16px;
}

.keyword_area .icon {
	color: rgba($green-font, 0.6);
	display: block;
}

.keyword {
	display: inline-block;
	padding: 3px 8px;
	margin: 10px 20px 0 0;
//	border: 1px solid rgba($green-font, 0.5);
	background-color: $button-background;
	border-radius: 3px;
//	float: left;
}
/*#detail_info p {
	margin-bottom: 0.6em;
}*/

#main p {
	margin-bottom: 0.6em;
}

.p_title {
	color: $green-font;
	font-size: 1.1em;
}

.icon_center {
/*	position: absolute !important;*/
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
	color: rgba(119,119,119,0.6);
/*	color: black;*/
}

#p_company .button {
	float: right;
	background-color: rgba(119, 119, 119, 0.3);
	color: rgba(119, 119, 119, 1);
/*	margin-top: 0.5em;*/
}

#recommend_form .special {
	margin: 0.5em 0;
	display: block;
	width: 100%;
/*	margin: auto;*/
/*	text-align: center;*/
}

#banner {
	background-position: center center;
	background-size: cover;
}

/* contact page */
#contact_page h4 {
	font-size: 1.4em;
	text-align: left;
	letter-spacing: 1px;
}

#contact_page p {
	font-size: 1.1em;
	letter-spacing: 1px;
}

#contact_hunting {
	background-color: rgba($green-color, .3);
}
#contact_recommendation {
	background-color: rgba($yellow-color, .3);
}
#contact_hotline {
	background-color: rgba($blue-color, .3);
}

#contact_page {
//	padding-left: 2em;
	margin-left: 0;
	background-color: $white-color;
//	padding-left: 0;
//	margin-left: 2em;
}

#header a {
//	font-size: 1em;
//	font-weight: 500;
}

/* pagination */
ul.pagination {
	list-style: none;
	background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    cursor: default;
    padding: 1em;
    text-align: center;
	margin: 1.5em 0;
//	display: inline;
}

ul.pagination li {
	display: inline-block;
	padding-left: 0;
}

ul.pagination li a {
	padding: 0.2em 0.3em;
}

ul.pagination .active {
//    background-color: #bebebe;
//    border-radius: 1em;
//    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 1.4em;
    line-height: 1.5;
//    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    width: 1.4em;
}

ul.pagination .disabled a {
	pointer-events: none;
	color: $gray-font-color;
	cursor: default;
}

ul.pagination .active a {
	pointer-events: none;
	cursor: default;
}

.customers p {
	color: $red-color;
	text-align: left;
	font-weight: bold;
}

/* introduction */
.intro_content {
//	position: absolute;
	text-align: left;
	margin: 0 auto;
	max-width: 100%;
	width: 40em;
	float: none;
}

#content_blue {
	background-color: $green-color;
}

.intro_content h4 {
	color: $red-color;
}

.intro_image img {
	width: 100%;
}

//#cta_blue {
//	background: $green-color none repeat scroll 0 0;
//    color: #f9e5df;
//    padding: 3.5em 0 4em;
//    text-align: center;
//}

// logo configuration for PC and pad
.logo_image {
	height: 80px;
	width: 80px;
	margin: 10px 35px;
	border: 1px solid #e5e5e5;
}

#logo_area h3 {
	color: rgba($gray-font-color, 0.5);
}

@media screen and (max-width: 760px) {

// logo configuration for mobile phone
	.logo_image {
		height: 60px;
		width: 60px;
		margin: 0 15px 15px;
		border: 1px solid #e5e5e5;
	}

	// contact padding for mobile phone
	#contact_hunting, #contact_recommendation, #contact_hotline {
		padding-left: 2.2em !important;
	}
	
	.position_list .p_aside {
		display: none;
	}
	
	#recommending {
		position: fixed;
		bottom: 0;
		right: 3%;
		width: 94% !important;
		z-index: 999;
	}
}

// position list
.basic_right {
	float: right;
}

.fix_width {
	display: inline-block;
	width: 5em;
}

.position_aside {
	background-color: rgba($green-font, 0.2);
}

.button_right {
	float: right;
}


// recommendation form
#recommendation_form {
	display: none;
}

#recommendation_form input {
	margin-bottom: 5px;
}

.logo_area {
	display: block;
	text-align: right;
	border: 1px solid #e5e5e5;
	width: 190px;
	height: 190px;
}



