// Place all the styles related to the Positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.keyword {
	padding: 0 2px;
	margin-right: 5px;
	border: 1px solid rgba(119, 119, 119, 0.5);
}