			<!-- Footer -->
				<footer id="footer">
					<!-- <ul class="icons">
						<li><a href="#" class="icon fa-weibo"><span class="label">微博</span></a></li>
						<li><a href="#" class="icon fa-wechat"><span class="label">微信</span></a></li>
						<li><a href="#" class="icon fa-qq"><span class="label">QQ</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul> -->
					<ul class="copyright">
						<li>沪 ICP 备 15045327 号 &copy; 2015 | 荔枝管理咨询(上海)有限公司</li>
					</ul>
				</footer>

